# Ignore everything else
/*

# Public tools
!/bed/
!/cfront/
!/common/
!/common_odin/
!/gamepad_db_gen/
!/header2odin/
!/hlsl2glsl/
!/json/
!/meshtool/
!/os/
!/render3/
!/render4/
!/steam/
!/test_odin/
!/test_render4/
!/third_party/
!/.gitattributes
!/.gitignore
!/build.py
!/copyright_notices.txt
!/README.md
